{% set header_title = 'Documentation for GodLike Gaming Template' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="container text-center">
        <div class="nk-gap-4"></div>
        <a href="https://nkdev.info/docs/godlike-html/" target="_blank" class="nk-btn nk-btn-x4 link-effect-4">
            <span class="icon"><i class="ion-help-buoy"></i></span>
            <span>Documentation Moved Here</span>
        </a>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-3"></div>
    </div>
{% endblock %}
