{% set header_title = 'Pricing Tables' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: Pricing Tables 3 -->
    <div class="container">
        <div class="nk-gap-4"></div>
        <div class="row vertical-gap align-items-center">
            <div class="col-md-4">
                <div class="nk-pricing">
                    <h3 class="nk-pricing-title">Startup License</h3>

                    <div class="nk-pricing-price">
                        <span class="nk-pricing-currency">$</span>34
                        <span class="nk-pricing-period">/ mo</span>
                    </div>

                    <ul class="nk-pricing-features">
                        <li>1 GB HDD</li>
                        <li>Support at $25/hour</li>
                        <li>Limited cloud access</li>
                    </ul>

                    <div class="nk-pricing-button">
                        <a href="#" class="nk-btn nk-btn-block nk-btn-lg link-effect-4 text-white">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-pricing bg-main-1 text-white">
                    <h3 class="nk-pricing-title">Enterprise License</h3>

                    <div class="nk-pricing-price">
                        <span class="nk-pricing-currency">$</span>199
                        <span class="nk-pricing-period">/ mo</span>
                    </div>

                    <ul class="nk-pricing-features">
                        <li>35 GB SSD RAID0</li>
                        <li>Free Lifetime Support</li>
                        <li>Full cloud access</li>
                        <li>Community Forum Access</li>
                        <li>Respect From Us</li>
                    </ul>

                    <div class="nk-pricing-button">
                        <a href="#" class="nk-btn nk-btn-block nk-btn-lg link-effect-4">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-pricing">
                    <h3 class="nk-pricing-title">Business License</h3>

                    <div class="nk-pricing-price">
                        <span class="nk-pricing-currency">$</span>99
                        <span class="nk-pricing-period">/ mo</span>
                    </div>

                    <ul class="nk-pricing-features">
                        <li>15 GB SSD</li>
                        <li>Support at $5/hour</li>
                        <li>Full cloud access</li>
                    </ul>

                    <div class="nk-pricing-button">
                        <a href="#" class="nk-btn nk-btn-block nk-btn-lg link-effect-4 text-white">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Pricing Tables 3 -->
{% endblock %}
