{% set header_title = 'Counters' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <div class="nk-box text-white text-center">
        <div class="bg-image bg-image-parallax">
            <img src="assets/images/image-5.jpg" alt="" class="jarallax-img">
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">

                <!-- START: Counter 1 -->
                <div class="nk-counter">
                    <div class="bg-color bg-main-1 op-6"></div>
                    <div class="nk-gap-3"></div>
                    <div class="nk-count">86</div>
                    <h3 class="nk-counter-title h4">Projects</h3>
                    <div class="nk-gap-3"></div>
                </div>
                <!-- END: Counter 1 -->

            </div>
            <div class="col-md-4">

                <!-- START: Counter 2 -->
                <div class="nk-counter">
                    <div class="bg-color bg-dark-1 op-6"></div>
                    <div class="nk-gap-3"></div>
                    <div class="nk-count">589</div>
                    <h3 class="nk-counter-title h4">Happy Clients</h3>
                    <div class="nk-gap-3"></div>
                </div>
                <!-- END: Counter 2 -->

            </div>
            <div class="col-md-4">

                <!-- START: Counter 3 -->
                <div class="nk-counter">
                    <div class="bg-color bg-main-2 op-6"></div>
                    <div class="nk-gap-3"></div>
                    <div class="nk-count">37</div>
                    <h3 class="nk-counter-title h4">Awards Won</h3>
                    <div class="nk-gap-3"></div>
                </div>
                <!-- END: Counter 3 -->

            </div>
        </div>
    </div>

    <div class="container">
        <div class="nk-gap-4"></div>
        <div class="row vertical-gap">
            <div class="col-md-3 col-sm-6">

                <!-- START: Counter 4 -->
                <div class="nk-counter-2">
                    <div class="nk-count">86</div>
                    <h3 class="nk-counter-title h4">Projects</h3>
                    <div class="nk-gap"></div>
                    <p>
                        You'll set fifth. Grass replenish man male light may fly waters tree evening them hath They're to meat moving also.
                    </p>
                </div>
                <!-- END: Counter 4 -->

            </div>
            <div class="col-md-3 col-sm-6">

                <!-- START: Counter 5 -->
                <div class="nk-counter-2">
                    <div class="nk-count">28</div>
                    <h3 class="nk-counter-title h4">Team Members</h3>
                    <div class="nk-gap"></div>
                    <p>
                        Appear our likeness own for a deep, firmament great whose fly saw thing earth saw. Fill divide whales blessed kind.
                    </p>
                </div>
                <!-- END: Counter 5 -->

            </div>
            <div class="col-md-3 col-sm-6">

                <!-- START: Counter 6 -->
                <div class="nk-counter-2">
                    <div class="nk-count">37</div>
                    <h3 class="nk-counter-title h4">Awards Won</h3>
                    <div class="nk-gap"></div>
                    <p>
                        All blessed second creature fly were given moving was itself itself beginning you're behold creepeth of. Doesn't you two good.
                    </p>
                </div>
                <!-- END: Counter 6 -->

            </div>
            <div class="col-md-3 col-sm-6">

                <!-- START: Counter 7 -->
                <div class="nk-counter-2">
                    <div class="nk-count">589</div>
                    <h3 class="nk-counter-title h4">Happy Clients</h3>
                    <div class="nk-gap"></div>
                    <p>
                        Form his life creepeth lesser lights fifth good night moveth of, seas the creeping moveth evening every own light. Seasons.
                    </p>
                </div>
                <!-- END: Counter 7 -->

            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box text-white text-center">
        <div class="bg-color"></div>
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-4 col-sm-6">
                    <div class="nk-box-2 nk-box-line">

                        <!-- START: Counter 8 -->
                        <div class="nk-counter-3">
                            <div class="nk-counter-icon text-main-2">
                                <span class="ion-social-octocat"></span>
                            </div>
                            <div class="nk-count">712</div>
                            <h3 class="nk-counter-title h5">Projects</h3>
                        </div>
                        <!-- END: Counter 8 -->

                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-box-2 nk-box-line">

                        <!-- START: Counter 9 -->
                        <div class="nk-counter-3">
                            <div class="nk-counter-icon text-main-2">
                                <span class="ion-person-stalker"></span>
                            </div>
                            <div class="nk-count">28</div>
                            <h3 class="nk-counter-title h5">Team Members</h3>
                        </div>
                        <!-- END: Counter 9 -->

                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-box-2 nk-box-line">

                        <!-- START: Counter 10 -->
                        <div class="nk-counter-3">
                            <div class="nk-counter-icon text-main-2">
                                <span class="ion-ribbon-b"></span>
                            </div>
                            <div class="nk-count">137</div>
                            <h3 class="nk-counter-title h5">Awards Won</h3>
                        </div>
                        <!-- END: Counter 10 -->

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="nk-box-2 nk-box-line">

                        <!-- START: Counter 11 -->
                        <div class="nk-counter-3">
                            <div class="nk-counter-icon text-main-2">
                                <span class="ion-reply-all"></span>
                            </div>
                            <div class="nk-count">867</div>
                            <h3 class="nk-counter-title h5">Articles</h3>
                        </div>
                        <!-- END: Counter 11 -->

                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-box-2 nk-box-line">

                        <!-- START: Counter 12 -->
                        <div class="nk-counter-3">
                            <div class="nk-counter-icon text-main-2">
                                <span class="ion-code"></span>
                            </div>
                            <div class="nk-count">78</div>
                            <h3 class="nk-counter-title h5">Thousands Lines of Code</h3>
                        </div>
                        <!-- END: Counter 12 -->

                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-box-2 nk-box-line">

                        <!-- START: Counter 13 -->
                        <div class="nk-counter-3">
                            <div class="nk-counter-icon text-main-2">
                                <span class="ion-android-happy"></span>
                            </div>
                            <div class="nk-count">589</div>
                            <h3 class="nk-counter-title h5">Happy Clients</h3>
                        </div>
                        <!-- END: Counter 13 -->

                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
    </div>
{% endblock %}
