{% set header_title = 'Team Members' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: Members -->
    <div class="nk-gap-4"></div>
    <div class="container">
        <div class="row lg-gap vertical-gap">
            <div class="col-lg-6">
                <div class="nk-team-member" data-mouse-parallax-z="5">
                    <div class="nk-team-member-photo">
                        <a href="#"><img src="assets/images/team-member-1.jpg" alt=""></a>
                    </div>
                    <div class="nk-team-member-info">
                        <div data-mouse-parallax-z="2">
                            <h3 class="nk-title h2"><a href="#">Gregory Walker</a></h3>
                            <div>CEO</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="nk-team-member nk-team-member-revert" data-mouse-parallax-z="5">
                    <div class="nk-team-member-photo">
                        <a href="#"><img src="assets/images/team-member-2.jpg" alt=""></a>
                    </div>
                    <div class="nk-team-member-info nk-team-member-info-bottom">
                        <div data-mouse-parallax-z="2">
                            <h3 class="nk-title h2"><a href="#">Emily Foster</a></h3>
                            <div>Frontend Developer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="nk-team-member" data-mouse-parallax-z="5">
                    <div class="nk-team-member-photo">
                        <a href="#"><img src="assets/images/team-member-3.jpg" alt=""></a>
                    </div>
                    <div class="nk-team-member-info">
                        <div data-mouse-parallax-z="2">
                            <h3 class="nk-title h2"><a href="#">Jack Carlson</a></h3>
                            <div>Backend Developer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="nk-team-member nk-team-member-revert" data-mouse-parallax-z="5">
                    <div class="nk-team-member-photo">
                        <a href="#"><img src="assets/images/team-member-4.jpg" alt=""></a>
                    </div>
                    <div class="nk-team-member-info nk-team-member-info-bottom">
                        <div data-mouse-parallax-z="2">
                            <h3 class="nk-title h2"><a href="#">Claudia Mckinney</a></h3>
                            <div>Marketing Manager</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-4"></div>
    <div class="nk-gap-4"></div>
    <!-- END: Members -->

{% endblock %}
