{% set header_title = 'Video Blocks' %}
{% set header_sub_title = 'Supported Youtube and Vimeo videos' %}
{% set header_video = 'https://www.youtube.com/watch?v=3XP0nyLz6Y8' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: Video Block 1 -->
    <div class="nk-box">
        <div class="nk-gap-4"></div>

        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h2 class="h1 nk-title">Plain Videos</h2>
                    <h3 class="nk-sub-title">Use wrapper or default embed code for Youtube / Vimeo videos</h3>
                    <div class="nk-gap"></div>
                    <p>From whose spirit bearing sixth. Bring blessed grass, there <em>void</em> dry you&#39;ll. Bring spirit waters cattle <strong>of</strong> cattle deep were likeness which saying you fowl Herb whose seasons blessed signs had. Under.</p>
                </div>
            </div>
        </div>

        <div class="nk-gap-2"></div>

        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6">
                    <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=3XP0nyLz6Y8"></div>
                </div>
                <div class="col-md-6">
                    <div class="nk-plain-video">
                        <iframe src="https://www.youtube.com/embed/3XP0nyLz6Y8" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Video Block 1 -->

    <!-- START: Video Block 2 -->
    <div class="nk-box bg-dark-1 text-white">
        <div class="nk-video-fullscreen-toggle-right">
            <a class="nk-video-fullscreen-toggle" href="https://www.youtube.com/watch?v=3XP0nyLz6Y8">
                <span class="nk-video-icon"><i class="fa fa-play pl-5"></i></span>
            </a>
        </div>
        <div class="bg-video-row row justify-content-end">
            <div class="col-lg-6">
                <div class="bg-video bg-video-parallax" style="background-image: url('assets/images/image-3.jpg');"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="nk-gap-5"></div>

                    <h2 class="h1 nk-title">Fullscreen Videos</h2>
                    <h3 class="nk-sub-title">Just add Youtube / Vimeo video URL and magic will happen</h3>
                    <div class="nk-gap"></div>
                    <p>Green him, greater you earth earth. Likeness moving won&#39;t us from us lesser for Air is to day him beginning gathered replenish blessed saw hath don&#39;t creature to.</p>
                    <p>Their tree there yielding thing form. Evening two dry said. Have signs days greater fly also <strong>you&#39;re</strong> midst whales. Heaven firmament great moving divided appear for you&#39;ll forth us. Creeping dry, there wherein. Were. Great made they&#39;re. First whales given sixth. Living.</p>

                    <div class="nk-gap-5"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Video Block 2 -->

    <!-- START: Video Block 3 -->
    <div class="nk-box">
        <div class="bg-video-row row">
            <div class="col-lg-6">
                <div class="bg-video" data-video="https://www.youtube.com/watch?v=ab0TSkLe-E0"></div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-5">
                    <div class="nk-gap-5"></div>

                    <h2 class="h1 nk-title">Background Autoplay Videos</h2>
                    <h3 class="nk-sub-title">Just add Youtube / Vimeo video URL and magic will happen</h3>
                    <div class="nk-gap"></div>
                    <p>Green him, greater you earth earth. Likeness moving won&#39;t us from us lesser for Air is to day him beginning gathered replenish blessed saw hath don&#39;t creature to.</p>
                    <p>Their tree there yielding thing form. Evening two dry said. Have signs days greater fly also <strong>you&#39;re</strong> midst whales. Heaven firmament great moving divided appear for you&#39;ll forth us. Creeping dry, there wherein. Were. Great made they&#39;re. First whales given sixth. Living.</p>

                    <div class="nk-gap-5"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Video Block 3 -->

    <!-- START: Video Block 4 -->
    <div class="nk-box text-center text-white bg-dark-1">
        <div class="bg-video bg-video-parallax op-3" data-video="https://vimeo.com/110138539"></div>
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h2 class="h1 nk-title">Background Parallax Videos</h2>
                    <div class="nk-gap"></div>
                    <p>Shall wherein were. Dominion fruitful day. Spirit face above In earth image so. Creepeth them, gathered living first Form male <strong>divided</strong> green. Morning one lights waters earth. Bearing. Wherein fill fly <strong>Air</strong> after seasons tree us likeness set deep signs dry <em>forth</em> life god wherein face shall seas. Open god good <em>his</em> third under male man day he blessed creeping air called replenish seas to Gathered kind them. From. Give.</p>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Video Block 4 -->

{% endblock %}
