{% set header_title = 'Call to Action' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: CTA 1 -->
    <div class="nk-box text-center text-white bg-dark-1">
        <div class="bg-image bg-image-parallax op-5">
            <img src="assets/images/image-2.jpg" alt="" class="jarallax-img">
        </div>
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-md-left">
                    <h2 class="nk-title">The darkest gaming template ever</h2>
                    <h3 class="nk-sub-title mb-0 text-white op-7">Incredible atmosphere and unlimited possibilities</h3>
                </div>
                <div class="col-md-4 text-md-right">
                    <div class="nk-gap-2 d-md-none"></div>
                    <a href="#!" class="nk-btn nk-btn-lg">
                        <span>Buy Theme</span>
                        <span class="icon"><i class="ion-bag"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: CTA 1 -->

    <!-- START: CTA 2 -->
    <div class="nk-box text-center">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-md-2 text-md-right">
                    <h2 class="nk-title">The darkest gaming template ever</h2>
                    <h3 class="nk-sub-title mb-0 text-main-2">Incredible atmosphere and unlimited possibilities</h3>
                </div>
                <div class="col-md-4 text-md-left">
                    <div class="nk-gap-2 d-md-none"></div>
                    <a href="#!" class="nk-btn nk-btn-x2 link-effect-4">
                        Buy Theme
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: CTA 2 -->

    <!-- START: CTA 3 -->
    <div class="nk-box text-center text-white bg-dark-1">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-md-left">
                    <h2 class="nk-title">The darkest gaming template ever</h2>
                    <h3 class="nk-sub-title mb-0 text-white op-7">Incredible atmosphere and unlimited possibilities</h3>
                </div>
                <div class="col-md-4 text-md-right">
                    <div class="nk-gap-2 d-md-none"></div>
                    <a href="#!" class="nk-btn nk-btn-x2 nk-btn-bg-white nk-btn-color-main-1">
                        <span>Buy Theme</span>
                        <span class="icon"><i class="ion-ribbon-b"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: CTA 3 -->

    <!-- START: CTA 4 -->
    <div class="nk-box text-center bg-main-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-md-2 text-md-right">
                    <h2 class="nk-title">The darkest gaming template ever</h2>
                    <h3 class="nk-sub-title mb-0 text-white op-7">Incredible atmosphere and unlimited possibilities</h3>
                </div>
                <div class="col-md-4 text-md-left">
                    <div class="nk-gap-2 d-md-none"></div>
                    <a href="#!" class="nk-btn nk-btn-x2">
                        Buy Theme
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: CTA 4 -->

    <!-- START: CTA 5 -->
    <div class="nk-box text-center text-white bg-dark-1">
        <div class="bg-image bg-image-parallax op-5">
            <img src="assets/images/image-3.jpg" alt="" class="jarallax-img">
        </div>
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="nk-title">One of the best templates for your gaming website</h2>
                    <h3 class="nk-sub-title text-main-1">Incredible atmosphere and unlimited possibilities</h3>
                    <div class="nk-gap"></div>
                    <p>Divide open have was brought. In of don&#39;t, you&#39;ll. There all. Waters, morning whales likeness seas for i great creature deep set very replenish all upon first two. Behold male god. Third was man green. Under. Isn&#39;t fruit. <strong>Lights</strong> deep.</p>
                    <br>
                    <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-2-right nk-btn-3d nk-btn-rounded nk-btn-color-main-1">
                        <span>Read More</span>
                        <span class="icon"><i class="ion-ios-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: CTA 5 -->

{% endblock %}
