{% set header_title = 'Dropcaps' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-gap-4"></div>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <p><span class="nk-dropcap">S</span>hall stars have multiply was in form firmament face. Sixth green unto Let itself fruit days is moveth fruit divided had give them fruit saw fruit god place. Blessed multiply days beast and firmament fourth give darkness unto make waters.</p>
            </div>
            <div class="col-md-4">
                <p><span class="nk-dropcap-2">B</span>ring. And give great beginning every heaven air had give. Rule he void won't, first thing all created given days Subdue. Evening from one made which open, female earth herb, he dominion saying give you'll creepeth cattle life him beast.</p>
            </div>
            <div class="col-md-4">
                <p><span class="nk-dropcap-2 nk-dropcap-circle bg-main-1">D</span>arkness beast, fly wherein itself. Made it abundantly fruit to air brought replenish earth All over abundantly let evening upon. Unto form own for firmament midst, man whose hath third is gathered creepeth likeness hath, divided bring midst abundantly moving.</p>
            </div>
        </div>

        <div class="nk-gap-2"></div>

        <div class="row">
            <div class="col-md-4">
                <p><span class="nk-dropcap-3">S</span> Shall stars have multiply was in form firmament face. Sixth green unto Let itself fruit days is moveth fruit divided had give them fruit saw fruit god place. Blessed multiply days beast and firmament fourth give darkness unto make waters.</p>
            </div>
            <div class="col-md-4">
                <p><span class="nk-dropcap-2 bg-main-2">B</span>ring. And give great beginning every heaven air had give. Rule he void won't, first thing all created given days Subdue. Evening from one made which open, female earth herb, he dominion saying give you'll creepeth cattle life him beast.</p>
            </div>
            <div class="col-md-4">
                <p><span class="nk-dropcap text-main-1">D</span>arkness beast, fly wherein itself. Made it abundantly fruit to air brought replenish earth All over abundantly let evening upon. Unto form own for firmament midst, man whose hath third is gathered creepeth likeness hath, divided bring midst abundantly moving.</p>
            </div>
        </div>

    </div>

    <div class="nk-gap-4"></div>
    <div class="nk-gap-4"></div>
{% endblock %}
