{% set header_title = 'Titles' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-gap-4"></div>
    <div class="container">
        <div class="text-center">
            <h2 class="nk-title h3">Image whales their called</h2>
            <h4 class="nk-sub-title">Whales place heaven every</h4>
        </div>
    </div>
    <div class="nk-gap-4"></div>

    <div class="nk-box bg-dark-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-center">
                <h4 class="nk-sub-title">Whales place heaven every</h4>
                <h2 class="nk-title h3">Image whales their called</h2>
                <div class="nk-title-sep"></div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-gap-4"></div>
    <div class="container">
        <div class="text-center">
            <h3 class="nk-title-back">Night Lesser Hath</h3>
            <h2 class="nk-title">Image whales their called</h2>
            <h4 class="nk-sub-title">Whales place heaven every</h4>
        </div>
    </div>
    <div class="nk-gap-4"></div>

    <div class="nk-box bg-dark-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-center">
                <h3 class="nk-title-back">Night Lesser Hath</h3>
                <h2 class="nk-title h1">Image whales their called</h2>
                <div class="nk-title-sep-icon">
                    <span class="icon"><span class="ion-fireball"></span></span>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-gap-4"></div>
    <div class="container">
        <div class="text-right">
            <h4 class="nk-sub-title">Whales place heaven every</h4>
            <h2 class="nk-title h3">Image whales their called</h2>
            <div class="nk-title-sep"></div>
        </div>
    </div>
    <div class="nk-gap-4"></div>

    <div class="nk-box bg-dark-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left">
                <h3 class="nk-title-back">Night Lesser Hath</h3>
                <h2 class="nk-title h1">Image whales their called</h2>
                <div class="nk-title-sep-icon">
                    <span class="icon"><span class="ion-paper-airplane"></span></span>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-gap-4"></div>
    <div class="container">
        <div class="text-right text-main-1">
            <h3 class="nk-title-back">Night Lesser Hath</h3>
            <h4 class="nk-sub-title text-main-1">Whales place heaven every</h4>
            <h2 class="nk-title display-4">Image whales their called</h2>
            <div class="nk-title-sep-icon">
                <span class="icon"><span class="ion-chatbubbles"></span></span>
            </div>
        </div>
    </div>
    <div class="nk-gap-4"></div>
    <div class="nk-gap-4"></div>
{% endblock %}
