{% set header_title = 'Icon Boxes' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <div class="container">

        <div class="nk-gap-4"></div>
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="nk-box-3 bg-dark-1">
                            <div class="nk-ibox">
                                <div class="nk-ibox-icon nk-ibox-icon-circle">
                                    <span class="ion-ios-game-controller-b"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h2 class="nk-ibox-title">Incredible Atmosphere</h2>
                                    Second Made make spirit green divide lesser creeping void and night replenish cattle don't was female first their day open.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="nk-box-3 bg-dark-2">
                            <div class="nk-ibox">
                                <div class="nk-ibox-icon nk-ibox-icon-circle">
                                    <span class="ion-fireball"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h2 class="nk-ibox-title">Catchy Battles</h2>
                                    Image their gathered. Every. Called together signs winged, unto midst sea life air them. Us sea them shall you saw.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="nk-box-3 bg-dark-2">
                            <div class="nk-ibox">
                                <div class="nk-ibox-icon nk-ibox-icon-circle">
                                    <span class="ion-ribbon-a"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h2 class="nk-ibox-title">28 Awards</h2>
                                    Moveth fruitful it appear wherein man don't firmament set blessed. Beast seas god itself. Made night image male. Own night.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="nk-box-3 bg-dark-1">
                            <div class="nk-ibox">
                                <div class="nk-ibox-icon nk-ibox-icon-circle">
                                    <span class="ion-ios-infinite-outline"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title">Unlimited Possibilities</h3>
                                    Commodo scelerisque rutrum consectetuer ad ad molestie aenean iaculis ad senectus in. Vel felis tellus orci dolor elit turpis condimentum.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>

    </div>

{% endblock %}
