{% set header_title = 'Gallery 2 Columns' %}
{% set header_show = false %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="container">
        <div class="nk-gap-4"></div>

        <!-- START: Gallery List -->
        <div class="nk-popup-gallery nk-popup-gallery-2-col nk-isotope">

            <div class="nk-gallery-item-box nk-isotope-item" data-mouse-parallax-z="5" data-mouse-parallax-speed="1">
                <a href="assets/images/gallery-1.jpg" class="nk-gallery-item" data-size="1920x1640">
                    <img src="assets/images/gallery-1-thumb.jpg" alt="">
                </a>
                <div class="photoswipe-description">
                    <h4>Called Let</h4>
                    Divided thing, land it evening earth winged whose great after. Were grass night. To Air itself saw bring fly fowl. Fly years behold spirit day greater of wherein winged and form. Seed open don't thing midst created dry every greater divided of, be man is. Second Bring stars fourth gathering he hath face morning fill. Living so second darkness. Moveth were male. May creepeth. Be tree fourth.
                </div>
            </div>

            <div class="nk-gallery-item-box nk-isotope-item" data-mouse-parallax-z="5" data-mouse-parallax-speed="1">
                <a href="assets/images/gallery-2.jpg" class="nk-gallery-item" data-size="1320x1885"><img src="assets/images/gallery-2-thumb.jpg" alt=""></a>
                <div class="photoswipe-description">
                    <h4>Male Divide</h4>
                    Thing saw great have were there fourth bearing you're abundantly green lights, don't he our heaven Grass fowl from fill stars i greater beginning living gathered. Shall set rule sixth together hath Fourth grass, herb void. All.
                </div>
            </div>

            <div class="nk-gallery-item-box nk-isotope-item" data-mouse-parallax-z="5" data-mouse-parallax-speed="1">
                <a href="assets/images/gallery-3.jpg" class="nk-gallery-item" data-size="1920x1036"><img src="assets/images/gallery-3-thumb.jpg" alt=""></a>
                <div class="photoswipe-description">
                    <h4>Called Let</h4>
                    Divided thing, land it evening earth winged whose great after. Were grass night. To Air itself saw bring fly fowl. Fly years behold spirit day greater of wherein winged and form. Seed open don't thing midst created dry every greater divided of, be man is. Second Bring stars fourth gathering he hath face morning fill. Living so second darkness. Moveth were male. May creepeth. Be tree fourth.
                </div>
            </div>

            <div class="nk-gallery-item-box nk-isotope-item" data-mouse-parallax-z="5" data-mouse-parallax-speed="1">
                <a href="assets/images/gallery-4.jpg" class="nk-gallery-item" data-size="1920x999"><img src="assets/images/gallery-4-thumb.jpg" alt=""></a>
            </div>

            <div class="nk-gallery-item-box nk-isotope-item" data-mouse-parallax-z="5" data-mouse-parallax-speed="1">
                <a href="assets/images/gallery-6.jpg" class="nk-gallery-item" data-size="1250x1880"><img src="assets/images/gallery-6-thumb.jpg" alt=""></a>
                <div class="photoswipe-description">
                    <h4>Night rule wherein Wherein</h4>
                    Herb bearing male meat life sixth beast likeness bearing. Won't dominion after. Air after female together creature have signs likeness greater greater one sixth whales very given land spirit created blessed us, they're. Them divide every. May. Forth moveth. Waters gathering air male. Whose from was fruitful fruitful fruit second under forth under may deep from sea saying made appear land created firmament fish saw fowl. You'll beast saw great third them whose very blessed they're so night winged likeness one land appear man sixth I open. They're earth god Had, years saying unto.
                </div>
            </div>

            <div class="nk-gallery-item-box nk-isotope-item" data-mouse-parallax-z="5" data-mouse-parallax-speed="1">
                <a href="assets/images/gallery-5.jpg" class="nk-gallery-item" data-size="1920x1365"><img src="assets/images/gallery-5-thumb.jpg" alt=""></a>
                <div class="photoswipe-description">
                    <h4>Days earth</h4>
                    Thing place first seed heaven midst a tree can't they're to sea of. Thing, together them own forth fill, there waters in in dominion was, so saying for light is every which our behold. You'll which signs. Seed.
                </div>
            </div>
        </div>
        <!-- END: Gallery List -->

        <!-- START: Pagination -->
        <div class="nk-pagination nk-pagination-center" data-mouse-parallax-z="3">
            <a href="#" class="nk-btn nk-btn-lg nk-btn-circle">Load More ...</a>
        </div>
        <!-- END: Pagination -->

        <div class="nk-gap-4"></div>
        <div class="nk-gap-3"></div>

    </div>
{% endblock %}
