{% set header_title = 'Gaming Template' %}
{% set header_title_show = false %}
{% set header_text = '
    <h1 class="nk-title display-3">GodLike</h1>

    <div class="nk-gap-2"></div>
    <a href="https://1.envato.market/godlike-html-info" target="_blank" class="nk-btn nk-btn-lg nk-btn-color-main-1 link-effect-4">
        <span>Purchase</span>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://nkdev.info/docs/godlike-html/" class="nk-btn nk-btn-lg link-effect-4">
        <span>Documentation</span>
    </a>

    <div class="nk-gap-4"></div>
' %}
{% set header_image = 'assets/images/image-1.jpg' %}
{% set header_size = 'lg' %}
{% extends 'layouts/layout-2.html' %}

{% block content %}
    <!-- START: Rev Slider -->
    <div class="mnt-80">
        <div id="rev_slider_50_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="photography-carousel48" style="padding:0px;">
            <div id="rev_slider_50_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-185" data-transition="slideoverhorizontal" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="assets/images/gallery-3-thumb.jpg"  data-rotate="0"  data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/gallery-3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-192" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="assets/images/gallery-5-thumb.jpg"  data-rotate="0"  data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/gallery-5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-186" data-transition="slideoverhorizontal" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="assets/images/gallery-4-thumb.jpg"  data-rotate="0"  data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/gallery-4.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-183" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="assets/images/gallery-1-thumb.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/gallery-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
    </div>
    <!-- END: Rev Slider -->

    <!-- START: Features -->
    <div class="container">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <div class="row vertical-gap lg-gap">
            <div class="col-md-4">
                <div class="nk-ibox">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-ios-game-controller-b"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h2 class="nk-ibox-title">Incredible Atmosphere</h2>
                        Second Made make spirit green divide lesser creeping void and night replenish cattle don't was female first their day open.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-fireball"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h2 class="nk-ibox-title">Catchy Battles</h2>
                        Image their gathered. Every. Called together signs winged, unto midst sea life air them. Us sea them shall you saw.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-ribbon-a"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h2 class="nk-ibox-title">28 Awards</h2>
                        Moveth fruitful it appear wherein man don't firmament set blessed. Beast seas god itself. Made night image male. Own night.
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
    </div>
    <!-- END: Features -->

    <!-- START: About -->
    <div class="nk-box bg-dark-1">
        <div class="container text-center">
            <div class="nk-gap-6"></div>
            <div class="nk-gap-2"></div>
            <h2 class="nk-title h1">About The Game</h2>
            <div class="nk-gap-3"></div>

            <p class="lead">Together face In. His called Two lesser given divide. From, cattle saying be was doesn't set. Creature bearing life wherein dominion in saying them moveth first have. Under set darkness over light beast face fill from in after isn't first own all fowl itself evening also, grass doesn't Sea. Created very likeness herb wherein from lesser was bring brought above. Bearing tree a grass very.</p>

            <div class="nk-gap-2"></div>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        <div class="nk-counter-3">
                            <div class="nk-count">65</div>
                            <h3 class="nk-counter-title h4">Unique Classes</h3>
                            <div class="nk-gap-1"></div>
                        </div>
                        <!-- END: Counter -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        <div class="nk-counter-3">
                            <div class="nk-count">145</div>
                            <h3 class="nk-counter-title h4">Epic Bosses</h3>
                            <div class="nk-gap-1"></div>
                        </div>
                        <!-- END: Counter -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        <div class="nk-counter-3">
                            <div class="nk-count">35</div>
                            <h3 class="nk-counter-title h4">Castles</h3>
                            <div class="nk-gap-1"></div>
                        </div>
                        <!-- END: Counter -->
                    </div>
                </div>
            </div>
            <div class="nk-gap-2"></div>
            <div class="nk-gap-6"></div>
        </div>
    </div>
    <!-- END: About -->

    <!-- START: Video -->
    <div class="container">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=Wb2qjfpOeMo" data-video-thumb="assets/images/video-6-thumb.jpg"></div>
            </div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
    </div>
    <!-- END: Video -->

    <!-- START: Coming Soon -->
    <div class="nk-box bg-dark-1 text-center">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <div class="bg-image op-3">
            <img src="assets/images/image-3.jpg" alt="" class="jarallax-img">
        </div>
        <div class="container">
            <h2 class="display-4">GodLike II</h2>
            <div class="nk-gap"></div>
            <div>You don't get to be great without a victory...</div>
            <div class="nk-gap-4"></div>

            <div class="nk-countdown" data-end="2021-11-26 08:20" data-timezone="EST"></div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
    </div>
    <!-- END: Coming Soon -->

    <!-- START: Testimonials -->
    <div class="nk-gap-6"></div>
    <div class="nk-gap-2"></div>
    <div class="nk-carousel-2" data-autoplay="12000" data-dots="true">
        <div class="nk-carousel-inner">
            <div><div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('{{ users[0].avatar_sm }}');"></div>
                    <div class="nk-testimonial-body">
                        <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                    </div>
                    <div class="nk-testimonial-name h4">{{ users[0].name }}</div>
                    <div class="nk-testimonial-source">Frontend Developer, Google</div>
                </blockquote>
            </div></div>
            <div><div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('{{ users[1].avatar_sm }}');"></div>
                    <div class="nk-testimonial-body">
                        <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                    </div>
                    <div class="nk-testimonial-name h4">{{ users[1].name }}</div>
                    <div class="nk-testimonial-source">CEO, Envato</div>
                </blockquote>
            </div></div>
            <div><div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('{{ users[2].avatar_sm }}');"></div>
                    <div class="nk-testimonial-body">
                        <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                    </div>
                    <div class="nk-testimonial-name h4">{{ users[2].name }}</div>
                    <div class="nk-testimonial-source">Product Designer, Apple</div>
                </blockquote>
            </div></div>
            <div><div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('{{ users[3].avatar_sm }}');"></div>
                    <div class="nk-testimonial-body">
                        <em>"Yielding be was which heaven fill fruit. You'll shall doesn't green. His divided they're of won't you isn't void cattle."</em>
                    </div>
                    <div class="nk-testimonial-name h4">{{ users[3].name }}</div>
                    <div class="nk-testimonial-source">Copywriter, Dropbox</div>
                </blockquote>
            </div></div>
            <div><div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('{{ users[4].avatar_sm }}');"></div>
                    <div class="nk-testimonial-body">
                        <em>"God, have rule living creature own the signs. Set herb open, seed wherein god appear shall give lights. Waters to."</em>
                    </div>
                    <div class="nk-testimonial-name h4">{{ users[4].name }}</div>
                    <div class="nk-testimonial-source">Backend Developer, Twitter</div>
                </blockquote>
            </div></div>
        </div>
    </div>
    <div class="nk-gap-2"></div>
    <div class="nk-gap-6"></div>
    <!-- END: Testimonials -->

    <!-- START: Subscribe -->
    <div class="nk-box bg-dark-1">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h2 class="nk-title text-center h1">Subscribe to our Newsletter</h2>
                    <div class="nk-gap-3"></div>

                    <!-- START: MailChimp Signup Form -->
                    <form action="//nkdev.us11.list-manage.com/subscribe/post?u=d433160c0c43dcf8ecd52402f&amp;id=68d0448ee3" method="post" class="nk-mchimp validate" target="_blank">
                        <div class="input-group">
                            <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email *">
                            <button class="nk-btn nk-btn-lg link-effect-4">Subscribe</button>
                        </div>
                        <div class="nk-form-response-success"></div>
                        <div class="nk-form-response-error"></div>
                        <small>We'll never share your email with anyone else.</small>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d433160c0c43dcf8ecd52402f_68d0448ee3" tabindex="-1" value=""></div>
                    </form>
                    <!-- END: MailChimp Signup Form -->
                </div>
            </div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Subscribe -->

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var tpj=jQuery;
        var revapi50;
        tpj(document).ready(function() {
            if(tpj("#rev_slider_50_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_50_1");
            }else{
                revapi50 = tpj("#rev_slider_50_1").show().revolution({
                    sliderType:"carousel",
                    jsFileLocation:"assets/vendor/revolution/js/",
                    sliderLayout:"auto",
                    dottedOverlay:"none",
                    delay:9000,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction: "horizontal",
                        onHoverStop:"off",
                    },
                    carousel: {
                        maxRotation: 8,
                        vary_rotation: "off",
                        minScale: 20,
                        vary_scale: "off",
                        horizontal_align: "center",
                        vertical_align: "center",
                        fadeout: "off",
                        vary_fade: "off",
                        maxVisibleItems: 3,
                        infinity: "on",
                        space: -90,
                        stretch: "off"
                    },
                    responsiveLevels:[1240,1024,778,480],
                    gridwidth:[800,600,400,320],
                    gridheight:[600,400,320,280],
                    lazyType:"none",
                    shadow:0,
                    spinner:"off",
                    stopLoop:"on",
                    stopAfterLoops:0,
                    stopAtSlide:0,
                    shuffle:"off",
                    autoHeight:"off",
                    fullScreenAlignForce:"off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    debugMode:false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener:false,
                    }
                });
            }
        });
    </script>
{% endblock %}
