{% set header_title = 'Navigation Main Side' %}
{% extends 'layouts/layout-4.html' %}

{% block content %}
    <div class="nk-gap-4"></div>

    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Lorem text for demonstration</h2>
                <p>Firmament brought for spirit every. There you&#39;ll abundantly fourth shall one, moveth his <em>evening</em> he greater life you&#39;ll <strong>land</strong> for divided seasons image gathering creature, two. Doesn&#39;t gathering wherein Every Earth brought shall yielding appear so upon one one shall gathered from face for fourth creature whose divided.</p>

                <p>Tree sea fowl evening kind the whose don&#39;t Male you&#39;re Rule signs subdue she&#39;d heaven is make. In. Creature called i won&#39;t, make winged god <em>lesser</em> firmament evening him hath so thing spirit land first all there had said divide every you&#39;re together, for for. Grass seasons divided Firmament second rule without cattle, spirit.</p>

                <p>Bring you&#39;ll signs fly face whose hath heaven so fly good. Moved. Moving yielding tree morning. Unto firmament fly midst is divided dominion, male form beast. One above Forth lights after upon together whose man, our that heaven they&#39;re rule deep all beast morning winged fruitful made air isn&#39;t waters.</p>

                <p>Yielding in, cattle was you&#39;re green darkness in them two night rule light whales midst creature Darkness bearing shall from shall whales. Fifth fly saw open. Night dominion, dominion <em>years</em> fill Deep abundantly <em>fourth</em> whales every <em>behold</em> waters bearing isn&#39;t life first, beginning him whose dominion herb. Midst wherein divide midst his you&#39;re isn&#39;t man don&#39;t i give. Greater evening green herb.</p>

                <p>A sea great made created and under so. He stars fly. Moving bring. That fly fifth unto, under divide <em>you</em> seasons <strong>seas</strong> cattle their Don&#39;t saying. Gathering dominion Male. Let face made land, own firmament set made.</p>

                <p>Creature all them, second his beginning she&#39;d. Don&#39;t set form good whose female own and. Life. God saying for be god replenish gathered bearing man have. They&#39;re void bring living <strong>in</strong> it abundantly made in for subdue yielding cattle waters <em>signs</em> god subdue divided creepeth whose sixth moveth yielding.</p>
            </div>
        </div>

    </div>

    <div class="nk-gap-4"></div>
{% endblock %}
