{% set header_title = 'Social Network - Settings' %}
{% set header_title_show = false %}
{% set header_image = 'assets/images/image-5.jpg' %}
{% set header_visible = 5 %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
<div class="container">
    {% include "shared/social-profile-container.html" %}

    <div class="row vertical-gap">
        <div class="col-lg-3">
            <!--
                START: Sidebar

                Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
            <aside class="nk-sidebar nk-sidebar-left nk-sidebar-sticky">
                <div class="nk-gap-2"></div>
                {% include "shared/social-menu.html" %}
                <div class="nk-gap-4 d-none d-lg-block"></div>
            </aside>
            <!-- END: Sidebar -->
        </div>
        <div class="col-lg-9">
            <div class="nk-gap-2 d-none d-lg-block"></div>
            <div class="nk-social-menu-inline">
                <ul>
                    <li class="active">
                        <a href="social-user-settings.html">General</a>
                    </li>
                    <li>
                        <a href="social-user-settings-email.html">Email</a>
                    </li>
                    <li>
                        <a href="#">Profile Visibility</a>
                    </li>
                </ul>
            </div>
            <div class="nk-social-container">

                <!-- START: Settings -->
                <form action="#">
                    <input type="email" class="form-control" name="email" placeholder="Account Email" value="mymail@gmail.com">
                    <div class="nk-gap-2"></div>
                    <input type="password" class="form-control" name="password" placeholder="Change Password">
                    <div class="nk-gap-2"></div>
                    <input type="password" class="form-control" name="password2" placeholder="New Password">
                    <div class="mt-10">
                        <em>Repeat New Password</em>
                    </div>
                    <div class="nk-gap-2"></div>
                    <button class="nk-btn link-effect-4 float-right">Save Changes</button>
                </form>
                <!-- END: Settings -->
            </div>
            <div class="nk-gap-4"></div>
        </div>
    </div>
    <div class="nk-gap-4"></div>
    <div class="nk-gap-3"></div>
</div>
{% endblock %}
