{% set header_title = 'Sidebar Widgets' %}
{% set header_sub_title = 'Demonstration for available widgets' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="nk-gap-4"></div>
                <p>Cursus placerat libero Velit scelerisque mollis. Sollicitudin. Fames commodo lectus venenatis porta. Vulputate neque placerat libero massa elit sapien adipiscing. Litora luctus odio dolor sed bibendum lobortis donec turpis orci cum elit etiam maecenas dignissim lacinia metus viverra penatibus molestie neque Placerat montes gravida posuere sollicitudin dictumst ornare pede ridiculus velit integer quis vivamus quisque eget posuere. Per pede eros urna lacus leo elementum nam. Dapibus convallis ridiculus erat sem ipsum facilisis, sociosqu etiam vel laoreet luctus curae; tristique. Nam.</p>

                <p>Amet tempor orci non nam porta felis. Viverra porta. Sociosqu parturient. Dictum malesuada tortor orci praesent conubia dapibus sociosqu leo mauris rutrum montes laoreet consequat habitant per taciti amet platea dui dapibus netus curabitur elementum ridiculus. Sollicitudin dictum adipiscing sit amet elementum dictum pharetra odio Montes. Platea ridiculus urna fermentum. Nec. Tellus. Et nulla nam. Vel.</p>

                <p>Class, orci fames donec congue nisi. Rhoncus potenti, lobortis at egestas. Fames proin auctor scelerisque sem ultricies amet mauris montes velit nulla dapibus neque augue conubia nulla sagittis. Neque dignissim lacus nullam massa lobortis litora egestas. Nisl. Cursus nisl tempor et dapibus dapibus. Pellentesque euismod amet mi fringilla vitae varius. Vel. Scelerisque et orci nunc lobortis id litora sit odio donec primis. Ad porta aliquam posuere nibh. Sollicitudin id faucibus ultricies, suspendisse tristique.</p>

                <p>Vivamus, pulvinar. Aenean commodo feugiat, non Quisque sollicitudin mauris urna inceptos adipiscing proin egestas, non hymenaeos aenean quam bibendum rhoncus. Habitant nec velit potenti vehicula porttitor. Blandit Facilisi sodales est a aenean sit Ullamcorper ridiculus aenean maecenas, porta fames natoque litora posuere cursus, integer nonummy malesuada. Congue, erat rutrum hymenaeos laoreet. Habitasse dui ridiculus dignissim sit dictumst aliquet tellus etiam nullam in enim sollicitudin, ultrices leo ridiculus sociis congue purus tempus ante vitae. Enim lectus class aliquet at cum enim neque maecenas feugiat inceptos est, pharetra orci nisl maecenas et ultricies natoque. Inceptos.</p>

                <p>Arcu purus mollis faucibus erat posuere. Sociis metus mus quam lectus ligula Ligula sem cras. Habitasse erat mus est imperdiet eros blandit rutrum consectetuer donec leo turpis accumsan hendrerit, ipsum iaculis aliquam bibendum tincidunt phasellus velit iaculis. A conubia vehicula fames nonummy, aenean semper, facilisi eleifend nullam duis erat vehicula magnis nibh maecenas quis diam cras Primis morbi mattis placerat ullamcorper in sodales aliquam integer. Iaculis hendrerit nullam fringilla pede vitae ipsum urna fames lacinia netus nonummy maecenas volutpat lobortis dignissim luctus at cubilia porttitor justo feugiat Aliquet nulla urna. Faucibus. Feugiat libero phasellus vulputate interdum pellentesque accumsan. Pede arcu imperdiet.</p>

                <p>Fames at netus convallis ullamcorper suspendisse inceptos sociosqu molestie quisque egestas dolor non per integer adipiscing sodales nonummy sodales molestie auctor ac magnis convallis magna ut phasellus laoreet. Nostra montes, litora nunc tortor massa. Posuere arcu est lobortis. Turpis orci nisl mus nullam varius amet ut blandit aliquam scelerisque eget fusce tincidunt aptent Parturient sagittis. Urna nunc habitasse, nisl rutrum conubia nunc donec urna.</p>

                <p>Mi faucibus Vestibulum sagittis amet conubia Lorem elementum amet pellentesque. Non hendrerit vulputate ut. In dictumst vestibulum nibh. Amet parturient penatibus pede eros. Fringilla facilisis eu orci. Primis. Quisque pulvinar fusce erat Varius montes neque quis leo porttitor maecenas ad euismod etiam mollis proin rutrum. Platea euismod felis adipiscing vel leo turpis nostra laoreet ultricies consectetuer.</p>

                <p>Pede nonummy. Erat vulputate scelerisque, euismod hymenaeos vestibulum turpis maecenas. Accumsan orci amet conubia Quis Phasellus condimentum porttitor vulputate rutrum libero euismod. Et est. Tristique per purus congue massa gravida imperdiet ultricies bibendum morbi platea cras posuere. Hymenaeos auctor ipsum purus at morbi, arcu habitasse libero. Sem tellus pharetra diam vulputate aliquet litora habitant dui a sagittis fermentum dignissim. Ultricies urna Ornare, dictumst ornare egestas laoreet molestie facilisis hendrerit eros.</p>

                <p>Dis litora lacinia blandit interdum bibendum etiam blandit, in purus vestibulum sem rhoncus ultrices a, dignissim hymenaeos nibh eros lobortis eu congue, amet. Aliquam dapibus ridiculus. Etiam. Cubilia. Dolor enim phasellus habitasse tortor. Magnis curae; rutrum quam integer nullam congue dignissim potenti. Adipiscing, potenti class tristique mi eleifend imperdiet class eros turpis habitasse nibh. Justo turpis. Ipsum. Nam metus. Sodales senectus magnis. Sem risus. Sollicitudin semper gravida enim. Tristique nisl, viverra cras tellus quam tincidunt. Egestas. Natoque enim aptent. Pellentesque risus nibh porttitor maecenas conubia magna blandit.</p>

                <p>Sed. Suspendisse. Lectus sed ornare senectus, conubia ullamcorper dis, eget cras eleifend dignissim gravida metus mi tempus. Curae; quam ad natoque lectus. Velit pharetra id mollis proin dis purus lectus felis dignissim nunc posuere aptent sagittis. Sodales luctus feugiat sem fames felis nisi a. Odio. Lacinia quam tortor duis. Aliquam. Non scelerisque aptent nam facilisis. Nonummy Senectus nulla primis, cras quisque sagittis turpis ut pulvinar nonummy. Pede felis dictumst, tincidunt nisi, massa in eu. Commodo nulla aenean at.</p>

                <p>Varius. Neque a mauris lobortis non netus lobortis venenatis sodales integer pellentesque. Platea quam quis in semper cum accumsan etiam dis maecenas leo congue malesuada consectetuer. Et ante hac suscipit cum quis semper velit proin urna a. Natoque enim. Sit. Pharetra rutrum ligula lacus tellus tellus. Aliquam ut duis nisl. Aenean tempor eleifend.</p>

                <p>Accumsan tempor tristique egestas, iaculis integer condimentum ligula. Bibendum. Vel platea cras dui facilisi viverra nulla purus suspendisse diam purus arcu dictumst nisl duis. Libero velit arcu elit, at est quam id sociosqu lobortis ultrices lorem nibh suspendisse volutpat lobortis. Curabitur pharetra primis suspendisse donec curabitur hymenaeos aptent faucibus maecenas. Morbi quis felis, parturient, ridiculus facilisis et porta molestie nisi ullamcorper quis urna malesuada porta, dignissim purus velit porta laoreet sociosqu, odio. Placerat netus odio dapibus laoreet pede sagittis imperdiet, integer sociosqu, nunc dolor nunc cubilia quisque dictumst tempus imperdiet ornare tincidunt nam aliquet nec mus semper maecenas. Accumsan.</p>

                <p>Dis dui inceptos sociosqu, id metus netus massa. Fames nibh augue, dui integer nunc sed orci ante commodo vitae velit magna vitae, ante posuere vitae adipiscing lorem, blandit eu vehicula commodo suscipit, maecenas sem per parturient nibh aptent Nulla. Sociis ipsum volutpat egestas curae;. Aliquet. At tempus netus malesuada dis torquent. Eget.</p>

                <p>Felis etiam arcu dignissim nullam. Viverra euismod cras. Odio. Nisi, sociosqu penatibus ridiculus euismod tristique vel ultrices facilisi in lacinia. Metus tristique vehicula parturient vivamus velit cras sit hac imperdiet lorem lacus elementum fusce Primis dui nec dictum gravida. Luctus ornare lacus libero tincidunt morbi. Tristique, natoque tempus viverra et hendrerit justo venenatis neque iaculis. Ultricies habitant. Facilisis diam potenti nisl libero tempor bibendum. Nisl nulla cubilia suscipit convallis. Gravida dolor curae; netus rhoncus.</p>

                <p>Ultricies hendrerit auctor nec viverra non proin aliquet luctus est dictum sagittis, tellus aliquam Tincidunt fusce iaculis pellentesque sodales platea sapien nonummy potenti senectus ultricies mattis est nostra donec accumsan fames ridiculus habitasse quam metus ridiculus, blandit nullam ad nunc. Urna arcu nostra. Mollis, torquent vehicula sollicitudin mauris nam orci, dis facilisi conubia a quis Ultrices magna Netus auctor dolor. Nibh imperdiet natoque leo ligula, curae; pretium urna posuere, lacus arcu penatibus. Non fermentum fringilla vehicula.</p>

                <p>Ac dolor. Lacinia primis venenatis mattis. Consequat congue semper ridiculus. Dictumst ligula quam. Arcu rhoncus elit sapien arcu Mauris. Pellentesque conubia sapien ipsum tellus viverra nisl consequat. Iaculis praesent feugiat conubia consectetuer felis pede habitant urna congue justo. Nisi ad, vitae. Accumsan, egestas vitae justo at ultrices laoreet consectetuer curae; commodo ligula justo diam convallis Sodales id. Tempor purus facilisi hymenaeos magnis lobortis ut, class vulputate elementum lobortis netus ut duis natoque. Iaculis quis. Proin risus mattis class. Mi. Orci consectetuer orci molestie class pellentesque mi. Conubia. Dictum.</p>
                <div class="nk-gap-4"></div>
            </div>
            <div class="col-lg-4">
                <!--
                    START: Sidebar

                    Additional Classes:
                        .nk-sidebar-left
                        .nk-sidebar-right
                        .nk-sidebar-sticky
                -->
                <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                    {% include "shared/sidebar-all.html" %}
                </aside>
                <!-- END: Sidebar -->
            </div>
        </div>
    </div>

    <div class="nk-gap-3"></div>
{% endblock %}
