{% if header_show and header_title %}
<!-- START: Header Title -->
<div class="nk-box{{ ' ' + header_class if header_class }}">
    <div class="container">
        <div class="nk-gap-{{ 5 if nav_contacts else 3 }}"></div>
        <div class="nk-gap-5"></div>
        <div class="row">
            <div class="col-lg-8">
                {% if header_title %}
                    <h1 class="nk-title">{{ header_title }}</h1>
                {% endif %}
                {% if header_sub_title %}
                    <h2 class="nk-sub-title text-dark-4">{{ header_sub_title }}</h2>
                {% endif %}
            </div>
            <div class="col-lg-4">
                {% if header_text %}
                    <div class="nk-header-text">
                        {{ header_text | safe }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
</div>
<!-- END: Header Title -->
{% endif %}
