{% set header_title = 'Accordions' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <div class="nk-gap-4"></div>

    <div class="container">
        <div class="row vertical-gap">
            <div class="col-md-6">
                <!-- START: Accordion 1 -->
                <div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-1-1-heading">
                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-1" aria-expanded="true" aria-controls="accordion-1-1">
                                Collapsible 1
                            </a>
                        </div>
                        <div id="accordion-1-1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="accordion-1-1-heading">
                            <div class="nk-gap-1"></div>

                            <div class="nk-progress nk-count" data-progress="91" data-progress-mask="{$}%">
                                <div class="nk-progress-title">JavaScript</div>
                                <div class="nk-progress-line">
                                    <div style="width: 91%;">
                                        <div class="nk-progress-percent">91%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="nk-progress nk-count" data-progress="72" data-progress-mask="{$}%">
                                <div class="nk-progress-title">PHP</div>
                                <div class="nk-progress-line">
                                    <div style="width: 72%;">
                                        <div class="nk-progress-percent">72%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="nk-progress nk-count" data-progress="86" data-progress-mask="{$}%">
                                <div class="nk-progress-title">Photoshop</div>
                                <div class="nk-progress-line">
                                    <div style="width: 86%;">
                                        <div class="nk-progress-percent">86%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="nk-progress nk-count" data-progress="43" data-progress-mask="{$}%">
                                <div class="nk-progress-title">Paint</div>
                                <div class="nk-progress-line">
                                    <div style="width: 43%;">
                                        <div class="nk-progress-percent">43%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-1-2-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-2" aria-expanded="false" aria-controls="accordion-1-2">
                                Collapsible 2
                            </a>
                        </div>
                        <div id="accordion-1-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-2-heading">
                            <div class="nk-gap-1"></div>
                            <div class="row vertical-gap">
                                <div class="col-md-4">
                                    <div class="nk-counter-2">
                                        <div class="nk-count">86</div>
                                        <h3 class="nk-counter-title h4">Projects</h3>
                                        <div class="nk-gap"></div>
                                        <p>
                                            You'll set fifth. Grass replenish man male light may fly waters tree evening them hath They're to meat moving also.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="nk-counter-2">
                                        <div class="nk-count">28</div>
                                        <h3 class="nk-counter-title h4">Team Members</h3>
                                        <div class="nk-gap"></div>
                                        <p>
                                            Appear our likeness own for a deep, firmament great whose fly saw thing earth saw. Fill divide whales blessed kind.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="nk-counter-2">
                                        <div class="nk-count">37</div>
                                        <h3 class="nk-counter-title h4">Awards Won</h3>
                                        <div class="nk-gap"></div>
                                        <p>
                                            All blessed second creature fly were given moving was itself itself beginning you're behold creepeth of. Doesn't you two good.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-1-3-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-3" aria-expanded="false" aria-controls="accordion-1-3">
                                Collapsible 3
                            </a>
                        </div>
                        <div id="accordion-1-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-3-heading">
                            <div class="nk-gap-1"></div>
                            <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=3XP0nyLz6Y8"></div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>
                </div>
                <!-- END: Accordion 1 -->
            </div>
            <div class="col-md-6">
                <!-- START: Accordion 2 -->
                <div class="nk-accordion" id="accordion-2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-2-1-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#accordion-2-1" aria-expanded="true" aria-controls="accordion-2-1">
                                Collapsible 1
                            </a>
                        </div>
                        <div id="accordion-2-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-2-1-heading">
                            <div class="nk-gap-1"></div>

                            <div class="nk-progress nk-count" data-progress="91" data-progress-mask="{$}%">
                                <div class="nk-progress-title">JavaScript</div>
                                <div class="nk-progress-line">
                                    <div style="width: 91%;">
                                        <div class="nk-progress-percent">91%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="nk-progress nk-count" data-progress="72" data-progress-mask="{$}%">
                                <div class="nk-progress-title">PHP</div>
                                <div class="nk-progress-line">
                                    <div style="width: 72%;">
                                        <div class="nk-progress-percent">72%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="nk-progress nk-count" data-progress="86" data-progress-mask="{$}%">
                                <div class="nk-progress-title">Photoshop</div>
                                <div class="nk-progress-line">
                                    <div style="width: 86%;">
                                        <div class="nk-progress-percent">86%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="nk-progress nk-count" data-progress="43" data-progress-mask="{$}%">
                                <div class="nk-progress-title">Paint</div>
                                <div class="nk-progress-line">
                                    <div style="width: 43%;">
                                        <div class="nk-progress-percent">43%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-2-2-heading">
                            <a data-toggle="collapse" data-parent="#accordion-2" href="#accordion-2-2" aria-expanded="false" aria-controls="accordion-2-2">
                                Collapsible 2
                            </a>
                        </div>
                        <div id="accordion-2-2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="accordion-2-2-heading">
                            <div class="nk-gap-1"></div>
                            <div class="row vertical-gap">
                                <div class="col-md-4">
                                    <div class="nk-counter-2">
                                        <div class="nk-count">86</div>
                                        <h3 class="nk-counter-title h4">Projects</h3>
                                        <div class="nk-gap"></div>
                                        <p>
                                            You'll set fifth. Grass replenish man male light may fly waters tree evening them hath They're to meat moving also.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="nk-counter-2">
                                        <div class="nk-count">28</div>
                                        <h3 class="nk-counter-title h4">Team Members</h3>
                                        <div class="nk-gap"></div>
                                        <p>
                                            Appear our likeness own for a deep, firmament great whose fly saw thing earth saw. Fill divide whales blessed kind.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="nk-counter-2">
                                        <div class="nk-count">37</div>
                                        <h3 class="nk-counter-title h4">Awards Won</h3>
                                        <div class="nk-gap"></div>
                                        <p>
                                            All blessed second creature fly were given moving was itself itself beginning you're behold creepeth of. Doesn't you two good.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-2-3-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#accordion-2-3" aria-expanded="false" aria-controls="accordion-2-3">
                                Collapsible 3
                            </a>
                        </div>
                        <div id="accordion-2-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-2-3-heading">
                            <div class="nk-gap-1"></div>
                            <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=3XP0nyLz6Y8"></div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>
                </div>
                <!-- END: Accordion 2 -->
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>


    <div class="nk-box bg-dark-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <!-- START: Accordion 3 -->
                    <div class="nk-accordion" id="accordion-3" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="accordion-3-1-heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#accordion-3-1" aria-expanded="true" aria-controls="accordion-3-1">
                                    Collapsible 1
                                </a>
                            </div>
                            <div id="accordion-3-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-3-1-heading">
                                <div class="nk-gap-1"></div>

                                <div class="nk-progress nk-count" data-progress="91" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">JavaScript</div>
                                    <div class="nk-progress-line">
                                        <div style="width: 91%;" class="bg-main-1">
                                            <div class="nk-progress-percent">91%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-count" data-progress="72" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">PHP</div>
                                    <div class="nk-progress-line">
                                        <div style="width: 72%;" class="bg-main-1">
                                            <div class="nk-progress-percent">72%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-count" data-progress="86" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Photoshop</div>
                                    <div class="nk-progress-line">
                                        <div style="width: 86%;" class="bg-main-1">
                                            <div class="nk-progress-percent">86%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-count" data-progress="43" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Paint</div>
                                    <div class="nk-progress-line">
                                        <div style="width: 43%;" class="bg-main-1">
                                            <div class="nk-progress-percent">43%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-gap-1"></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="accordion-3-2-heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#accordion-3-2" aria-expanded="false" aria-controls="accordion-3-2">
                                    Collapsible 2
                                </a>
                            </div>
                            <div id="accordion-3-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-3-2-heading">
                                <div class="nk-gap-1"></div>
                                <div class="row vertical-gap">
                                    <div class="col-md-4">
                                        <div class="nk-counter-2">
                                            <div class="nk-count">86</div>
                                            <h3 class="nk-counter-title h4">Projects</h3>
                                            <div class="nk-gap"></div>
                                            <p>
                                                You'll set fifth. Grass replenish man male light may fly waters tree evening them hath They're to meat moving also.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="nk-counter-2">
                                            <div class="nk-count">28</div>
                                            <h3 class="nk-counter-title h4">Team Members</h3>
                                            <div class="nk-gap"></div>
                                            <p>
                                                Appear our likeness own for a deep, firmament great whose fly saw thing earth saw. Fill divide whales blessed kind.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="nk-counter-2">
                                            <div class="nk-count">37</div>
                                            <h3 class="nk-counter-title h4">Awards Won</h3>
                                            <div class="nk-gap"></div>
                                            <p>
                                                All blessed second creature fly were given moving was itself itself beginning you're behold creepeth of. Doesn't you two good.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-gap-1"></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="accordion-3-3-heading">
                                <a data-toggle="collapse" data-parent="#accordion-3" href="#accordion-3-3" aria-expanded="false" aria-controls="accordion-3-3">
                                    Collapsible 3
                                </a>
                            </div>
                            <div id="accordion-3-3" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="accordion-3-3-heading">
                                <div class="nk-gap-1"></div>
                                <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=3XP0nyLz6Y8"></div>
                                <div class="nk-gap-1"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END: Accordion 3 -->
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
    </div>

{% endblock %}
