{% set header_title = 'Typography' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-gap-4"></div>

    <div class="container">

        <h2 class="display-1">Display 1</h2>
        <p>God. Doesn&#39;t she&#39;d evening a let female, above Meat subdue god there called <em>light</em> greater replenish all they&#39;re, don&#39;t creeping wherein spirit you&#39;re called very rule was tree moved <strong>stars</strong> <em>over</em> life. Morning saw two image you their isn&#39;t greater years place may created void. Saw air meat unto midst face over deep bearing doesn&#39;t. Lights. Air she&#39;d us fish second open one gathering brought wherein fish, set third years blessed given. To.</p>

        <h2 class="display-2">Display 2</h2>
        <p>Evening <strong>years</strong> cattle firmament days have saw air be open appear don&#39;t was. Dominion void Meat of fly. Without made waters brought third fruitful called fill make make creeping very unto is were replenish, sixth, abundantly Together can&#39;t. Waters creeping. One him. The have upon. Living shall she&#39;d were created. Thing, brought. Morning, divide grass greater fish you he. Moveth stars.</p>

        <p class="lead">Fourth. Waters darkness, fruitful the rule <em>open</em> won&#39;t cattle after our fly they&#39;re set likeness forth morning you&#39;re said creepeth make may. To to you&#39;ll upon spirit first air have beast were bring stars greater lesser cattle, have seas, lights made under him won&#39;t. Land lesser good <em>may</em> heaven kind.</p>

        <h2 class="display-3">Display 3</h2>
        <p>Beginning every blessed light itself Let third. Make created, fruitful divided fish itself. Said, tree is creepeth male wherein forth meat bearing under one replenish Tree from one fruitful fifth. Saying signs creepeth face. Image whales there created fifth let hath also saw air thing meat fish she&#39;d beast yielding multiply <em>thing</em> sea may have green shall living you Wherein third and wherein light fowl seed.</p>

        <h2 class="display-4">Display 4</h2>
        <ul>
            <li>Creepeth be very <strong>cattle</strong> said under fruitful</li>
            <li>Tree firmament said yielding can&#39;t bring, made whose that called</li>
            <li>Our that, dominion dominion hath <strong>gathering</strong></li>
            <li>Beast second fourth rule he morning signs can&#39;t</li>
        </ul>

        <h2 class="h1">Heading 1</h2>
        <p>Unto fruitful make which there. Subdue midst the for <em>sixth</em> dominion one earth wherein firmament. Creeping a fish was gathering bring, is shall there, blessed it spirit fill. Creepeth, his life may. Green itself waters you years stars. Were, unto to bearing stars fruit day of bring, without Yielding void living may saying moveth his sixth bearing wherein they&#39;re upon his sea you.</p>

        <h2>Heading 2</h2>
        <p>They&#39;re blessed kind Life rule evening image saying seas. Fruit his isn&#39;t, don&#39;t him itself fruitful they&#39;re over place behold moving our upon he tree of whose, fish male our make for. Darkness divided without beginning <em>brought</em> waters make blessed, isn&#39;t replenish morning our Them cattle, days first. Sea which you&#39;re seasons. Fruit saw make.</p>

        <h3>Heading 3</h3>
        <p>Without saying very female lights yielding winged bring fourth subdue divide you&#39;re <em>earth</em> that fish for a seed given creepeth so two moveth lights wherein multiply that years set signs their be. Cattle and creature him, and for was lights gathered i living <em>saying</em> without appear <strong>bring</strong> don&#39;t seasons greater all, spirit abundantly firmament creepeth fourth blessed rule divided. Which sea cattle fifth divide upon. And earth, his own.</p>

        <h4>Heading 4</h4>
        <ol>
            <li>Moving let one without bearing, god made created thing</li>
            <li>Above brought it kind <strong>face</strong> signs fruitful fly</li>
            <li>Earth under fruit greater firmament lights his</li>
            <li class="list-unstyled">
                <ul>
                    <li>Is night given don&#39;t moved multiply from replenish</li>
                    <li>Stars firmament them the fourth under earth a</li>
                </ul>
            </li>
            <li>Kind abundantly fifth image moved</li>
        </ol>

        <h5>Heading 5</h5>
        <p>Male forth let land. Fill you, open, it together face made made <strong>seed</strong> second. Was behold fowl given over creepeth abundantly isn&#39;t, saw. Void creepeth meat creature him firmament abundantly beast their all from every midst his. Grass so also every great you&#39;re she&#39;d together so have divided created, day whales their. Upon day there bring seas fifth, greater beginning. Air. Cattle bearing heaven <em>abundantly</em> moving spirit upon sea blessed. Air.</p>

        <h6>Heading 6</h6>
        <p>Beginning third. Cattle give our isn&#39;t he the hath face Multiply without, spirit whose <em>created</em> a morning given have Is of fifth deep saw cattle in wherein. Good seas us fish living gathering their. Years greater so kind. Two herb second. Second. Deep male had kind sixth air signs beginning fruitful have blessed, created creepeth. Was above years forth you&#39;ll bring isn&#39;t. Sea you&#39;ll. Is make give firmament seasons dry without which to every.</p>
    </div>

    <div class="nk-gap-4"></div>
    <div class="nk-gap-4"></div>
{% endblock %}
