{% set header_title = 'Block Quotes' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-gap-4"></div>

    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- START: Blockquote 1 -->
                <blockquote class="nk-blockquote">
                    <div class="nk-blockquote-icon">&ldquo;</div>
                    <em>Creature dry face appear it had gathered earth seasons blessed Don't. Give created green the fish deep abundantly forth under is dominion Second signs cattle signs good after tree light. Creepeth that man midst multiply living abundantly moved void yielding.</em>
                    <div class="nk-blockquote-author">Ben Rodriquez</div>
                </blockquote>
                <!-- END: Blockquote 1 -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- START: Blockquote 2 -->
                <blockquote class="nk-blockquote">
                    <div class="nk-blockquote-icon text-main-1">&ldquo;</div>
                    <em>Creature dry face appear it had gathered earth seasons blessed Don't. Give created green the fish deep abundantly forth under is dominion Second signs cattle signs good after tree light. Creepeth that man midst multiply living abundantly moved void yielding.</em>
                    <div class="nk-blockquote-author">Ben Rodriquez</div>
                </blockquote>
                <!-- END: Blockquote 2 -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- START: Blockquote 3 -->
                <blockquote class="nk-blockquote">
                    <div class="nk-blockquote-icon text-main-3">&ldquo;</div>
                    <em class="text-main-3">Creature dry face appear it had gathered earth seasons blessed Don't. Give created green the fish deep abundantly forth under is dominion Second signs cattle signs good after tree light. Creepeth that man midst multiply living abundantly moved void yielding.</em>
                    <div class="nk-blockquote-author">Ben Rodriquez</div>
                </blockquote>
                <!-- END: Blockquote 3 -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- START: Blockquote 4 -->
                <blockquote class="nk-blockquote nk-blockquote-styled">
                    <div class="bg-image op-6">
                        <img src="assets/images/post-2-mid.jpg" alt="" class="jarallax-img">
                    </div>
                    <a class="nk-blockquote-cont" href="#">
                        <div class="nk-blockquote-icon">“</div>
                        <em>The clearest way into the Universe is through a forest wilderness.</em>
                        <div class="nk-blockquote-author">John Muir</div>
                    </a>
                </blockquote>
                <!-- END: Blockquote 4 -->
            </div>
        </div>

    </div>

    <div class="nk-gap-4"></div>
    <div class="nk-gap-4"></div>
{% endblock %}
