{% set header_title = shop[3].title %}
{% set header_show = false %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="container">
        <div class="nk-gap-4"></div>
        <div class="nk-store-product">
            <div class="row xl-gap vertical-gap align-items-center">
                <div class="col-md-5">
                    <!-- START: Product Photos Carousel -->
                    <div class="nk-carousel-3" data-size="1">
                        <div class="nk-carousel-inner nk-popup-gallery">
                            {% for photo in shop[3].photos %}
                                <div><div>
                                    <a href="{{ photo.full }}" class="nk-gallery-item" data-size="780x990"><img src="{{ photo.sm }}" alt=""></a>
                                </div></div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- END: Product Photos Carousel -->
                </div>
                <div class="col-md-7">
                    <h2 class="nk-product-title">{{ shop[3].title }}</h2>

                    <div class="nk-product-description">
                        <p>And gathering. Form for, gathering, female you'll blessed appear day us cattle hath be moving face he Whales fruitful is spirit Beginning. Abundantly good living Thing isn't stars saw over and earth dry rule herb bring image night, fowl their, third set saw for.</p>
                    </div>

                    <div class="nk-product-size">
                        <h4 class="h5">Size</h4>
                        <div class="nk-size-selector">
                            <input id="product-size-s" type="radio" name="product-size" value="S">
                            <label for="product-size-s">S</label>

                            <input id="product-size-m" type="radio" name="product-size" value="M" checked>
                            <label for="product-size-m">M</label>

                            <input id="product-size-l" type="radio" name="product-size" value="L">
                            <label for="product-size-l">L</label>

                            <input id="product-size-xl" type="radio" name="product-size" value="XL">
                            <label for="product-size-xl">XL</label>
                        </div>
                    </div>

                    <div class="nk-product-color">
                        <h4 class="h5">Color</h4>
                        <div class="nk-color-selector">
                            <input id="product-color-black" type="radio" name="product-color" value="black" checked>
                            <label for="product-color-black" style="background-color: #3A3A3A; color: #3A3A3A;">black</label>

                            <input id="product-color-blue" type="radio" name="product-color" value="blue">
                            <label for="product-color-blue" style="background-color: #558dc8; color: #558dc8;">blue</label>

                            <input id="product-color-green" type="radio" name="product-color" value="green">
                            <label for="product-color-green" style="background-color: #48ac55; color: #48ac55;">green</label>

                            <input id="product-color-orange" type="radio" name="product-color" value="orange">
                            <label for="product-color-orange" style="background-color: #c89355; color: #c89355;">orange</label>
                        </div>
                    </div>

                    <form action="#" class="nk-form nk-product-addtocart">
                        <div class="nk-form-control-number">
                            <input type="number" min="1" max="14" name="quantity" value="1" class="form-control">
                        </div>
                        <button class="nk-btn nk-btn-x2 link-effect-4">Add to Cart</button>
                        <span class="nk-product-price">{{ shop[3].price | safe }}</span>
                    </form>
                </div>
            </div>

            <div class="nk-gap-3"></div>
            <!-- START: Tabs -->
            <div class="nk-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab-description" role="tab" data-toggle="tab">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-parameters" role="tab" data-toggle="tab">Parameters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-reviews" role="tab" data-toggle="tab">Reviews <small>(3)</small></a>
                    </li>
                </ul>

                <div class="tab-content">

                    <!-- START: Tab Description -->
                    <div role="tabpanel" class="tab-pane fade show active" id="tab-description">
                        <div class="nk-gap-3"></div>
                        <div class="nk-box-3 bg-dark-1">
                            <p>And gathering. Form for, gathering, female you'll blessed appear day us cattle hath be moving face he Whales fruitful is spirit Beginning. Abundantly good living Thing isn't stars saw over and earth dry rule herb bring image night, fowl their, third set saw for. Green a also upon life stars, green and darkness greater.</p>
                            <p>The light two his moving won't a kind unto they're sea sea subdue fowl light male forth second beginning. Saying seas signs. Seed brought air grass. Divided Meat god subdue own. He. Female form very cattle man i sixth. Beast living darkness open god bring image divide. Third which.</p>
                            <p>He. Herb created. Beginning. Gathering given our winged sea Two is image us life from seed so darkness and his replenish they're There, creature isn't divide face replenish creature. His gathered midst brought divided land without face were, midst multiply.</p>
                            <p>Place and the unto itself image also. Night earth good also gathered forth man cattle very open. Unto fill is. Midst together of, it you're own He sea fifth day moving spirit can't meat heaven fowl fruit isn't called fruitful made earth also. Him fourth upon To upon fill face. Also earth light shall also green. Grass.</p>
                        </div>
                    </div>
                    <!-- END: Tab Description -->

                    <!-- START: Tab Parameters -->
                    <div role="tabpanel" class="tab-pane fade" id="tab-parameters">
                        <div class="nk-gap-3"></div>
                        <div class="nk-box-3 bg-dark-1">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Brand</td>
                                    <td>Welder</td>
                                </tr>
                                <tr>
                                    <td>SKU</td>
                                    <td>S18-9247</td>
                                </tr>
                                <tr>
                                    <td>Material Type</td>
                                    <td>Mineral</td>
                                </tr>
                                <tr>
                                    <td>Display Type</td>
                                    <td>Analog</td>
                                </tr>
                                <tr>
                                    <td>Case Material</td>
                                    <td>Stainless Steel</td>
                                </tr>
                                <tr>
                                    <td>Case Diameter</td>
                                    <td>50mm</td>
                                </tr>
                                <tr>
                                    <td>Band Material</td>
                                    <td>Rubber</td>
                                </tr>
                                <tr>
                                    <td>Band width</td>
                                    <td>23mm</td>
                                </tr>
                                <tr>
                                    <td>Movement</td>
                                    <td>Quartz</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- END: Tab Parameters -->

                    <!-- START: Tab Reviews -->
                    <div role="tabpanel" class="tab-pane fade" id="tab-reviews">
                        <div class="nk-gap-3"></div>
                        <div class="row vertical-gap lg-gap">
                            <div class="col-md-6">

                                <!-- START: Reviews Summary Rating -->
                                <div class="nk-box-3 bg-dark-1">
                                    <h3 class="nk-title h4 text-center">Reviews Summary</h3>
                                    <div class="nk-gap"></div>
                                    {{ macros.rating('94%') }}
                                    <br>
                                    <small>4.7 out of 5.0</small>

                                    <div class="nk-product-progress">
                                        <table>
                                            <tr>
                                                <td>5 Star</td>
                                                <td>
                                                    <div class="nk-progress nk-progress-xs nk-progress-percent-static nk-count" data-progress="82" data-progress-mask="{$}%">
                                                        <div class="nk-progress-line">
                                                            <div style="width: 82%;">
                                                                <div class="nk-progress-percent">82%</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4 Star</td>
                                                <td>
                                                    <div class="nk-progress nk-progress-xs nk-progress-percent-static nk-count" data-progress="10" data-progress-mask="{$}%">
                                                        <div class="nk-progress-line">
                                                            <div style="width: 10%;">
                                                                <div class="nk-progress-percent">10%</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3 Star</td>
                                                <td>
                                                    <div class="nk-progress nk-progress-xs nk-progress-percent-static nk-count" data-progress="2" data-progress-mask="{$}%">
                                                        <div class="nk-progress-line">
                                                            <div style="width: 2%;">
                                                                <div class="nk-progress-percent">2%</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2 Star</td>
                                                <td>
                                                    <div class="nk-progress nk-progress-xs nk-progress-percent-static nk-count" data-progress="5" data-progress-mask="{$}%">
                                                        <div class="nk-progress-line">
                                                            <div style="width: 5%;">
                                                                <div class="nk-progress-percent">5%</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1 Star</td>
                                                <td>
                                                    <div class="nk-progress nk-progress-xs nk-progress-percent-static nk-count" data-progress="1" data-progress-mask="{$}%">
                                                        <div class="nk-progress-line">
                                                            <div style="width: 1%;">
                                                                <div class="nk-progress-percent">1%</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- END: Reviews Summary Rating -->

                            </div>
                            <div class="col-md-6">
                                <!-- START: Reply -->
                                <div class="nk-box-3 bg-dark-1">
                                    <h3 class="nk-title h4 text-center">Add a Review</h3>
                                    <div class="nk-gap"></div>
                                    <div class="nk-reply mt-0">
                                        <form action="#" class="nk-form nk-form-style-1">
                                            <div class="nk-rating">
                                                <input type="radio" id="review-rate-5" name="review-rate" value="5">
                                                <label for="review-rate-5">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                </label>

                                                <input type="radio" id="review-rate-4" name="review-rate" value="4">
                                                <label for="review-rate-4">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                </i>
                                                </label>

                                                <input type="radio" id="review-rate-3" name="review-rate" value="3">
                                                <label for="review-rate-3">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                </label>

                                                <input type="radio" id="review-rate-2" name="review-rate" value="2">
                                                <label for="review-rate-2">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                </label>

                                                <input type="radio" id="review-rate-1" name="review-rate" value="1">
                                                <label for="review-rate-1">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                </label>
                                            </div>
                                            <div class="nk-gap"></div>
                                            <div class="row vertical-gap">
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control required" name="name" placeholder="Name *">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control required" name="title" placeholder="Title *">
                                                </div>
                                            </div>
                                            <div class="nk-gap-1"></div>
                                            <textarea class="form-control required" name="message" rows="5" placeholder="Your Review *" aria-required="true"></textarea>
                                            <div class="nk-gap-1"></div>
                                            <button class="nk-btn nk-btn-lg link-effect-4 float-right">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- END: Reply -->
                            </div>
                        </div>

                        <div class="nk-gap-3"></div>
                        <div class="nk-comments mb-0">
                            <h3 class="nk-title h4 text-center">3 Reviews</h3>
                            <div class="nk-gap-2"></div>

                            <!-- START: Review -->
                            <div class="nk-comment">
                                <div class="nk-comment-avatar">
                                    <a href="{{ users[1].url }}"><img src="{{ users[1].avatar }}" alt=""></a>
                                </div>
                                <div class="nk-comment-meta">
                                    <div>
                                        {{ macros.rating('80%', 'nk-review-rating') }}
                                    </div>
                                    <div class="nk-comment-name h5">
                                        <a href="{{ users[1].url }}">{{ users[1].name }}</a>
                                    </div>
                                    <div class="nk-comment-date">
                                        20 September, 2017
                                    </div>
                                </div>
                                <p>Moveth. Above firmament itself living. Given i fruitful sixth moveth. Their she'd him. Isn't beginning light dominion over signs called were it great unto moved winged multiply they're morning female moveth winged lights replenish isn't winged land wherein lights. Over dominion abundantly made brought you're.</p>

                                <p>Upon replenish great rule. Were tree, given day him night Fruit it moveth all. First they're creature seasons and creature fill a it have fifth, their own subdue brought above divided.</p>

                                <p>Behold it set, seas seas and meat divided Moveth cattle forth evening above moveth so, signs god a fruitful his after called that whose.</p>

                                <div class="text-right">
                                    <div class="nk-action-like">
                                        <span class="like-icon fa fa-thumbs-up"></span>
                                        <span class="num">+12</span>
                                        <span class="dislike-icon fa fa-thumbs-down"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- END: Review -->
                            <!-- START: Review -->
                            <div class="nk-comment">
                                <div class="nk-comment-avatar">
                                    <a href="{{ users[0].url }}"><img src="{{ users[0].avatar }}" alt=""></a>
                                </div>
                                <div class="nk-comment-meta">
                                    <div>
                                        {{ macros.rating('20%', 'nk-review-rating') }}
                                    </div>
                                    <div class="nk-comment-name h5">
                                        <a href="{{ users[0].url }}">{{ users[0].name }}</a>
                                    </div>
                                    <div class="nk-comment-date">
                                        14 Jule, 2017
                                    </div>
                                </div>
                                <p>Shit :( No any words for this hoodie!!!</p>

                                <div class="text-right">
                                    <div class="nk-action-like disliked">
                                        <span class="like-icon fa fa-thumbs-up"></span>
                                        <span class="num">-193</span>
                                        <span class="dislike-icon fa fa-thumbs-down"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- END: Review -->
                            <!-- START: Review -->
                            <div class="nk-comment">
                                <div class="nk-comment-avatar">
                                    <a href="{{ users[2].url }}"><img src="{{ users[2].avatar }}" alt=""></a>
                                </div>
                                <div class="nk-comment-meta">
                                    <div>
                                        {{ macros.rating('100%', 'nk-review-rating') }}
                                    </div>
                                    <div class="nk-comment-name h5">
                                        <a href="{{ users[2].url }}">{{ users[2].name }}</a>
                                    </div>
                                    <div class="nk-comment-date">
                                        27 June, 2017
                                    </div>
                                </div>
                                <p>Above he image Give abundantly abundantly land make there kind. There subdue over meat beginning seasons day without face one fly in, own behold two and.</p>

                                <p>Lesser. Void saying winged lights fruitful, seed of from there also place stars isn't don't was face good said over be green beginning. Unto and multiply is, living, a. Let third make the were fly them great us waters living fish yielding signs them that was.</p>

                                <p>Replenish divide male yielding tree you're man be there, fowl, divide grass of above wherein void thing also, fill make lights made our greater female you're fruitful it sea. That. Heaven land. Without called spirit heaven itself. Stars, man bring be dry have Said bring.</p>

                                <p>To fourth doesn't days. Grass one. Stars unto is herb open in sea moved so. They're our doesn't a dominion great given i Day. Fourth. Sea Third every, have us, bring god itself life which brought fly without. Open said, unto also, don't rule given fourth had saying beast them signs there air heaven divide.</p>

                                <div class="text-right">
                                    <div class="nk-action-like liked">
                                        <span class="like-icon fa fa-thumbs-up"></span>
                                        <span class="num">+2947</span>
                                        <span class="dislike-icon fa fa-thumbs-down"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- END: Review -->
                        </div>
                    </div>
                    <!-- END: Tab Reviews -->

                </div>
            </div>
            <!-- END: Tabs -->
        </div>
        <!-- START: Related Products -->
        <div class="nk-gap-3"></div>
        <div class="nk-store nk-carousel-2 nk-carousel-x2 nk-carousel-no-margin nk-carousel-all-visible">
            <div class="nk-carousel-inner">
                {% for product in shop %}
                    <div><div>
                        <div class="nk-product">
                            <div>
                                <a href="{{ product.url }}" class="nk-product-image">
                                    <img src="{{ product.photos[0].sm }}" alt="{{ product.title }}" class="nk-img-stretch">
                                </a>

                                <h2 class="nk-product-title h5"><a href="{{ product.url }}">{{ product.title }}</a></h2>

                                {{ macros.rating(product.rating) }}

                                <div class="nk-product-bottom">
                                    <div>
                                        <div class="nk-product-price">{{ product.price | safe }}</div>
                                        <a href="#">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nk-gap-4"></div>
                    </div></div>
                {% endfor %}
            </div>
        </div>
        <!-- END: Related Products -->
        <div class="nk-gap-4"></div>
        <div class="nk-gap-3"></div>
    </div>
{% endblock %}
